<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /eventprint/

# STOP routing untuk folder static (bypass total)
RewriteRule ^assets/ - [L]
RewriteRule ^uploads/ - [L]
RewriteRule ^data/ - [L]

# kalau file/folder beneran ada, serve langsung
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# sisanya baru ke index.php
RewriteRule ^ index.php [QSA,L]
</IfModule>
AddType application/json .json
